body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8e1;
    color: #333;
}

header { 
    background-color: #ff9800;
    color: white;
    text-align: center;
    padding: 20px;
}

main { 
    padding: 20px;
}

.menu-category h2 {
    margin: 10px;
    font-size: 1.8px;
    color: #e65100;
}